* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 1px;
}

window#waybar {
    background: #282828;
    color: #ebdbb2;
}

#custom-menu {
    color: #83a598;
    font-size: 14px;
    padding: 0 10px;
}

#workspaces {
    background-color: transparent;
    padding: 0px;
}

#workspaces button.empty {
    transition: none;
    color: #ebdbb2;
    background: transparent;
    border-bottom: 2px solid transparent;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button {
    padding-left: 1px;
    padding-right: 1px;
    color: #83a598;
    background: transparent;
    margin-left: 2px;
    margin-right: 2px;
    border-bottom: 2px solid transparent;
    padding: 0px;
}

#workspaces button.active {
    padding: 0px;
    border-bottom: 2px solid #98971a;
}

#workspaces button.visible:not(.active) {
    padding: 0px;
    border-bottom: 2px solid #83a598;
}

#custom-sep {
    color: #ebdbb2;
    font-size: 10px;
    padding: 0 0px;
}

#window {
    color: #83a598;
    padding-left: 10px;
}

#language {
    color: #d79921;
    padding: 0 6px;
}

#bluetooth {
    color: #b8bb26;
    font-size: 12px;
    padding: 0 6px;
}

#network {
    font-family: "JetBrainsMono Nerd Font";
    color: #fb4934;
    padding: 0 6px;
}

#pulseaudio {
    color: #d3869b;
    padding: 0 6px;
}

#battery {
    color: #98971a;
    padding: 0 6px;
}

#clock {
    color: #83a598;
    padding: 0 6px;
}

#tray {
    padding: 0 6px;
}
